<header class="mb-8 text-center block">
    <nav class="flex items-center justify-between w-full max-w-2xl mx-auto">
        <div id="logo">
            <a href="./" class="hover:text-sky-600 transition-colors">
                <h1 class="text-2xl font-bold">Quizient</h1>
            </a>
        </div>
        <ul id="nav-items" class="flex space-x-4">
            <li><a href="about.html" class="text-gray-700 hover:text-sky-600 transition-colors">About</a></li>
            <li><a href="support.html" class="text-gray-700 hover:text-sky-600 transition-colors">Help</a></li>
        </ul>
    </nav>
</header>