@import 'tailwindcss';

@keyframes breathing-border {
    0%, 100% {
        border-color: var(--color-gray-300);
    }
    
    50% {
        border-color: var(--color-sky-400);
    }
}

html {
    scroll-behavior: smooth;
}

site-header, 
site-footer {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

site-header.loaded,
site-footer.loaded {
    opacity: 1;
}

/* Home Page - Template Dropdown */
#template-dropdown-menu {
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#template-dropdown-menu[data-state='closed'] {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

#template-dropdown-menu[data-state='open'] {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Home Page - Preview Search */
#search-input {
    transform-origin: 100% 50%;
}