@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
    --font-exo: "Exo 2", sans-serif;
}

/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Blackout */
@custom-variant black-out (&:where(.black-out, .black-out * ));

/* Font Sizes */
@layer base {
    body { @apply text-base md:text-lg lg:text-xl; }
    h2 { @apply text-3xl md:text-4xl lg:text-5xl; }
    h3 { @apply text-xl md:text-2xl lg:text-3xl; }
    [id] {
        scroll-margin-top: var(--toc-scroll-offset, 6rem);
    }
}

@layer components {
    #main-header.scrolled {
        @apply
            sticky top-1 z-9999
            p-5 rounded-3xl
            bg-gray-100/90 dark:bg-gray-800/90
            backdrop-blur-sm shadow-md
            transition-all duration-300 ease-in-out
    }
}

@keyframes breathing-border {
    0%, 100% {
        border-color: var(--color-gray-300);
    }
    
    50% {
        border-color: var(--color-sky-400);
    }
}

html {
    scroll-behavior: smooth;
}

site-header, 
site-footer {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

site-header.loaded,
site-footer.loaded {
    opacity: 1;
}

/* Home Page - Template Dropdown */
#template-dropdown-menu,
#filter-dropdown-menu,
#theme-menu {
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#template-dropdown-menu[data-state='closed'],
#filter-dropdown-menu[data-state='closed'],
#theme-menu[data-state='closed'] {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

#template-dropdown-menu[data-state='open'],
#filter-dropdown-menu[data-state='open'],
#theme-menu[data-state='open'] {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Home Page - Preview Search */
#search-input {
    transform-origin: 100% 50%;
}